<div class="overflow-x-auto">
    <table class="w-full bg-white">
        <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase border-r border-gray-200">Email
                </th>
                <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase border-r border-gray-200">Username
                </th>
                <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase border-r border-gray-200">Fullname
                </th>
                <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase border-r border-gray-200">Role
                </th>
                <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase border-r border-gray-200">Action
                </th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let user of userList; let even = even" [ngClass]="{'bg-gray-50': even}">
                <!-- (click)="onEditProduct(product.id)"> -->
                <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 border-r border-gray-200">
                    {{ user.email
                    }}</td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-500 border-r border-gray-200">{{
                    user.userName }}</td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-500 border-r border-gray-200">{{
                    user.fullname }}</td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-500 border-r border-gray-200">
                    <div class="text-center">
                        {{ user.role }}
                    </div>
                </td>
                <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-center">
                    <div class="grid grid-cols-2">
                        <div class="flex justify-center">
                            <svg class="text-yellow-600 hover:text-yellow-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 24 24" (click)="onEditUser(user.id)">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                            </svg>
                        </div>
                        <div class="flex justify-center">
                            <svg *ngIf="user.isLockout == false"
                                class=" text-red-600 hover:text-red-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 24 24" (click)="onLockOrUnlockUser(user.id)">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z" />
                            </svg>
                            <svg *ngIf="user.isLockout == true"
                                class=" text-green-500 hover:text-green-700 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 24 24" (click)="onLockOrUnlockUser(user.id)">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10 14v3m4-6V7a3 3 0 1 1 6 0v4M5 11h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z" />
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>