<div class="mt-3 flex justify-between text-sm font-normal" *ngIf="pagination">
    <div class="">
        Showing <span
            class="font-bold">{{pagination.pageIndex*pagination.pageSize+1}}-{{((pagination.pageIndex+1)*pagination.pageSize
            > pagination.totalItemsCount) ? pagination.totalItemsCount :
            (pagination.pageIndex+1)*pagination.pageSize}}</span>
        of <span class="font-bold">{{pagination.totalItemsCount}}</span>
    </div>
    <div class="border-[1px] rounded-md overflow-hidden">
        <button class="px-3 py-1 border-r-[1px] hover:bg-gray-200 disabled:bg-gray-200 disabled:text-gray-400"
            [disabled]="!pagination.previous" [routerLink]="[route]"
            [queryParams]="{pageIndex: pagination.pageIndex-1}">Previous</button>
        <ng-content *ngFor="let page of pages">
            <button *ngIf="page!=-1" class="px-3 py-1 border-r-[1px] hover:bg-gray-200" [routerLink]="[route]"
                [queryParams]="{pageIndex: page-1}" routerLinkActive='bg-gray-100 text-purple-400'>{{page}}</button>
            <span class="px-2 py-1 border-r-[1px]" *ngIf="page==-1">...</span>
        </ng-content>
        <button class="px-3 py-1 border-r-[1px] hover:bg-gray-200 disabled:bg-gray-200 disabled:text-gray-400"
            [disabled]="!pagination.next" [routerLink]="[route]"
            [queryParams]="{pageIndex: pagination.pageIndex+1}">Next</button>
    </div>
</div>