<div role="status" class="animate-pulse">
    <div class="grid grid-cols-3 gap-4 h-[100%]">
        <div class="col-span-2">
            <div class="border-2 rounded-md h-72">
                <div class="overflow-x-auto h-full">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-16 py-3">
                                    <span class="sr-only">Image</span>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Product
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Quantity
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Price
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of [1,2,3]"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="p-4">
                                    <div class="w-[75px] h-[75px] ">
                                        <img class="object-contain aspect-square"
                                            src="https://media.istockphoto.com/id/1147544807/vi/vec-to/h%C3%ACnh-thu-nh%E1%BB%8F-%C4%91%E1%BB%93-h%E1%BB%8Da-vector.jpg?s=612x612&w=0&k=20&c=bPh3iqkZIarqqYwyC2K8aAm8ZaNE6r4jCm7IGcZrK9M="
                                            alt="Card image">
                                    </div>
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    <div class="w-16 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="w-16 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    <div class="w-16 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    <div class="w-full h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-4 border-2 rounded-md h-64 p-4">
                <div class="text-[18px] font-semibold border-b-2 pb-2">
                    Customer And Order Detail
                </div>
                <div class="text-[16px] font-medium border-b-2 py-3 flex justify-between">
                    <div>Email</div>
                    <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                </div>
                <div class="text-[16px] font-medium border-b-2 py-3 flex justify-between">
                    <div>Fullname</div>
                    <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                </div>
                <div class="text-[16px] font-medium border-b-2 py-3 flex justify-between">
                    <div>Address</div>
                    <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                </div>
                <div class="text-[16px] font-medium py-3 flex justify-between">
                    <div>Note</div>
                    <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="border-2 rounded-md p-6">
                <div class="flex justify-between mb-4">
                    <div class="text-[16px] font-semibold">Order Summary</div>
                    <div><span class="text-[15px] font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700">
                            <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                        </span></div>
                </div>
                <div class="flex justify-between py-1">
                    <div class="text-[14px] font-semibold">Order Date</div>
                    <div class="text-[13px] font-medium">
                        <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                    </div>
                </div>
                <div class="flex justify-between py-1">
                    <div class="text-[14px] font-semibold">Expected Delivery Date</div>
                    <div class="text-[13px] font-medium">
                        <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                    </div>
                </div>
                <div class="flex justify-between py-1">
                    <div class="text-[14px] font-semibold">Delivery Date</div>
                    <div class="text-[13px] font-medium">
                        <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                    </div>
                </div>
            </div>
            <div class="mt-4 border-2 rounded-md px-6 py-2">
                <div class="flex justify-between py-1">
                    <div class="text-[14px] font-semibold">Total</div>
                    <div class="text-[13px] font-medium">
                        <div class="w-32 h-2 bg-gray-200 rounded-md dark:bg-gray-700"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>