<div class="flex-1 h-full">
    <div class="">
        <div class="flex justify-between items-center mb-4">
            <div class="text-2xl font-bold mb-4">User Management</div>
            <div>
                <button
                    class="px-2 py-1 border-2 border-gray-500 rounded bg-gray-500 text-white hover:bg-gray-800 hover:border-gray-800"
                    (click)="onShowAddUserPopup()">+
                    Create
                    User</button>
            </div>
        </div>
        @if(isLoading$ | async) {
        <!-- Display your loading spinner or skeleton here -->
        <app-user-table-skeleton></app-user-table-skeleton>
        } @else {
        <app-user-table-admin [userList]="(paginationUser$| async)?.items || null" (editUser)="onEditUser($event)"
            (lockOrUnlockUser)="onShowLockOrUnlockUserPopup($event)"
            (addUser)="onShowAddUserPopup()"></app-user-table-admin>
        }

    </div>
    <app-table-pagination-admin [route]="'/admin/users'"
        [pagination]="paginationUser$ | async"></app-table-pagination-admin>
</div>
<app-user-update-popup-admin *ngIf="showModifyUser" [userId]="selectedUpdateUserId" (save)="onSaveUser($event)"
    (close)="onCloseModifyUser()"></app-user-update-popup-admin>
<app-user-create-popup-admin *ngIf="showCreateUser" (add)="onAddUser($event)"
    (close)="onCloseCreateUser()"></app-user-create-popup-admin>